<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bblazer.com.efficientshopper">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".store.EditStoresActivity"
            android:label="@string/title_activity_edit_stores"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".store.AddNewStoreActivity"
            android:label="Add New Store"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".meal.EditMealsActivity"
            android:label="@string/title_activity_edit_meals"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".meal.AddNewMealActivity"
            android:label="Add New Meal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".meal.ingredient.EditPantryActivity"
            android:label="Edit Pantry"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".meal.ingredient.EditIngredientActivity"
            android:label="Add New Ingredient"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".meal.plan.ViewMealPlansActivity"
            android:label="@string/title_activity_edit_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".meal.plan.EditMealPlanActivity"
            android:label="Add New Shopping List"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewShoppingListActivity"
            android:label="View Shopping List"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".meal.log.ViewMealLogsActivity"
            android:label="@string/title_activity_view_meal_logs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".meal.log.EditMealLogActivity"
            android:label="@string/title_activity_view_meal_logs"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- <service android:name=".NotificationService" /> -->
        <receiver android:name=".BootReceiver" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>